<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Promise</title>
</head>
<body>
<script>
    /**
     * resolve  解决  成功返回的结果处理函数
     *
     * reject   拒绝  失败了的返回结果处理函数
     */
    /*new Promise(function (resolve, reject) {
        console.log('hello Promise......');
    });

    console.log('hello main......');*/

    /*setTimeout(function () {
        console.log('first');
        setTimeout(function () {
            console.log('second');
            setTimeout(function () {
                console.log('third');
            },3000);
        },4000);
    },1000);
    console.log('hello main.......');*/

    /*new Promise(function (resolve, reject) {
        setTimeout(function () {
            console.log('first');
            resolve(); //该promise异步函数执行成功   可以继续执行了
        },1000)
    }).then(function () {
        return new Promise(function (resolve,reject) {
            setTimeout(function () {
                console.log('second');
                resolve();
            },2000)
        })
    }).then(function () {
        setTimeout(function () {
            console.log('third');
        },1000)
    })*/

    /*new Promise(function (resolve,reject) {
        var a = 10;
        var b = 2;
        if (b == 0) reject("Divide zero");
        else resolve(a / b);
    }).then(function (value) {
        console.log("a / b = " + value);
    }).catch(function (err) {
        console.log("异常：" +err);
    }).finally(function () {
        console.log("End");
    });

    console.log("main.................");*/

    /*new Promise(function (resolve,reject) {
        console.log(1111);
        resolve(2222);
    }).then(function (value) {
        console.log(value);
        return 3333;
    }).then(function (value) {
        console.log(value);
        throw "An error";
    }).then(function () {
        console.log("4444444444444");
    }).catch(function (err) {
        console.log("异常"+err);
    });*/
    /**
     * 返回一个Promise对象
     * @param time
     * @param message
     * @returns {Promise<unknown>}
     */
    /*function promiseTest(time,message) {
        return new Promise(function (resolve,reject) {
            //  业务
            setTimeout(function () {
                console.log(message);
                resolve();
            },time);
        })
    }

    promiseTest(1000,"First")
    .then(function () {
        return promiseTest(2000,"Second")
    }).then(function () {
        promiseTest(2000,"Third")
    })*/

    async function testPromiseWait() {
        // 同步代码
        let value = await new Promise(
            function (resolve, reject) {
                console.log("promise.......");
                resolve("Return value");
            }
        );
        // 下面代码
        console.log(value);
    }

    testPromiseWait()

</script>
</body>
</html>